@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

:root {
    --lightBlue: #edf2f8;
    --purple: hsl(263, 55%, 52%);
    --darkGray: hsl(217, 19%, 35%);
    --white: rgb(255, 255, 255);
    --darkBlue: hsl(219, 29%, 14%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--lightBlue);
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.35;
}

/* Grid container */
.testimonials {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-areas: 
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira"
    ;
    gap: 2em;
    justify-content: center;
    align-content: center;
}

/* Grid Items */
#daniel {
    grid-area: daniel;
}
#jonathan {
    grid-area: jonathan;
}
#jeanette {
    grid-area: jeanette;
}
#patrick {
    grid-area: patrick;
}
#kira {
    grid-area: kira;
}

/* General Styles */
.card {
    padding: 2em;
    border-radius: .6em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.purple {
    background: var(--purple);
    color: white;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
}
.gray{
    background: var(--darkGray);
    color: white;
}
.white {
    background: var(--white);
    color: rgb(90, 90, 90);
}
.darkblue {
    background: var(--darkBlue);
    color: white;
}

/* Flexbox container */
.person {
    height: 50px;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.3em;
}

/* Cards' Styles */
.info-person {
    margin: auto 0 auto 1.6em;
}
img {
    border-radius: 50%;
}
.border {
    border: 2px solid #996ed9;
}
.name {
    font-weight: bold;
    font-size: 1.1em;
}
.role {
    font-weight: lighter;
    font-size: 1.1em;
    opacity: 50%;
}
.title {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 1.2em;
}
.quote {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.5;
    opacity: 70%;
}

footer{
    text-align: center;
    padding: 2.5em;
    font-size: 1.2em;
}

/* Media Queries */
/* Screen sizes less than 1200px*/
@media (max-width: 1200px) {
    /* Grid container */
    .testimonials {
        margin: 4em;
        grid-template-columns: repeat(3 1fr);
        grid-template-areas: 
        "daniel jonathan jonathan"
        "daniel jeanette jeanette"
        "patrick kira kira"
        "patrick kira kira"
        ;
        gap: 1em;
    }
}
/* Screen sizes less than 992px*/
@media (max-width: 992px) {
    /* Grid container */
    .testimonials {
        margin: 3em;
        grid-template-columns: repeat(2 1fr);
        grid-template-areas: 
        "daniel daniel"
        "jonathan jeanette"
        "patrick patrick"
        "kira kira"
        ;
        gap: 1em;
    }
}
/* Screen sizes less than 768px*/
@media (max-width: 768px) {
    /* Grid container */
    .testimonials {
        margin: 4em 1.5em;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "daniel"
        "jonathan"
        "jeanette"
        "patrick"
        "kira"
        ;
        gap: 1em;
    }
    footer{
        padding: 2em;
    }
}