* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #cacaca;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row; /* column, row, column-reverse, row-reverse */ 

    /* justify-content: How the flex items should be stacked or aligned along the main axis*/
    justify-content: center; /* center, space-between, space-around, space-evenly, flex-start, flex-end*/

    /* align-items: Aligns items along the Cross axis */
    align-items: flex-end; /* center, flex-start, flex-end, stretch, baseline */
}

.item {
    background: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
    /* flex-grow: Occupy the maximum space available inside the container */
    /*flex-grow: 1;*/

    /* flex: It's a shorthand to set 3 different values -> flex-grow | flex-shrink | flex-basis */
    flex: 1;
}

.items-1 {
}

.items-2 {
}

.items-3 {
}

.items-4 {
    /*flex-grow: 3;*/ /* This item is 3 times bigger than the rest of the items */
}

.items-5 {
    /* flex-basis: Set the width of a flex item */
    flex-basis: 700px; /* % or px value*/ /* It shrinks at a certain break point. */
    /* To fix this, we can set flex-shrink to 0 */

    flex-shrink: 0; /* 0 | 1 (default) */
}