* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #cacaca;
    padding: 10px;
    margin: 50px;
    height: 1000px;
    display: flex;
    flex-direction: column; /* column, row, column-reverse, row-reverse */ 

    /* justify-content: How the flex items should be stacked or aligned along the main axis*/
    justify-content: space-between; /* center, space-between, space-around, space-evenly, flex-start, flex-end*/

    /* align-items: Aligns items along the Cross axis */
    align-items: flex-start; /* center, flex-start, flex-end, stretch, baseline */
}

.item {
    background: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}
